#outer {
    font-size: 20px;
    background-color: lightblue;
    border: 5px solid blue;
    height: 400px;
    width: 400px;
    margin: 5px;
}
.inner {
    font-size: 2em;
    background-color: lightgreen;
    border: 5px solid green;
    height: 100px;
    width: 100px;
    padding: 1em;
}