h1 {
    text-align: center;
}
h2 {
    font-weight: 300;
}
h3 {
    text-decoration: wavy red underline;
}
p {
    line-height: 2.5;
}
h4 {
    letter-spacing: 5px;
    font-style: italic;
}
h1 {
    font-size: 20px;
}
